.hero-page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.hero-pg-container {
  /* transform: translateX(150px); */
  display: flex;
  position: absolute;
  width: 80%;
  /* margin: 1.5rem 2rem 2rem 2rem; */
  margin-top: 17vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-card {
  border: solid;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  background-color: var(--blue);
  width: 90%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.page-title {
  padding-left: 25px;
}
.hero-buttons-container {
  border: none;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}
.hero-btns {
  height: 4rem;
  margin: 10px;
}
.logout-btn {
  background-color: var(--red);
  margin-top: 3rem;
}
.logout-container {
  width: 100%;
  display: flex;
  margin-right: 5rem;
  justify-content: flex-end;
}

@media (max-width: 1050px) {
  .hero-pg-container {
    margin-top: 18vh;
  }
}

@media (max-width: 768px) {
  .hero-page {
    display: flex;
    justify-content: center;
  }

  .hero-pg-container {
    /* transform: translateX(150px); */
    width: 100%;
    margin: 1rem 0.5rem 0.5rem 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-card {
    border: solid;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    background-color: var(--blue);
    width: 90%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .page-title {
    padding-left: 25px;
  }
  .hero-buttons-container {
    border: none;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
  }
  .hero-btns {
    height: 4rem;
  }
  .logout-btn {
    background-color: var(--red);
    margin-top: 3rem;
  }
  .logout-container {
    width: 100%;
    display: flex;
    margin-right: 5rem;
    justify-content: flex-end;
  }
}
