.login-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    border: none;
    background-color: none;
}
.alr-account {
    text-align: center;
}
hr {
    margin-top: 2.5rem;
    margin-bottom:1rem;
    border:1px solid;
    color:black;
    width: 100%;
    border-radius: 15px;
}
button {
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 15px;
    border: none;
    font-size: small;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.25);
}
form button {
    background-color: var(--orange);
}
input {
    border-radius: 15px;
    padding-left: 1rem;
    border: none;
    width: 400px;
    height: 50px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.25);
}
.password-vis-btn, .password-icon {
    background: none;
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
.password-icon {
    position: absolute;
  }
.vis-btn-container{
    position: relative;
    left: 370px;
}